table {
  margin-bottom: 10px;
}

mat-paginator {
  margin-bottom: 30px;
}

.mat-form-field {
  margin-right: 10px;
}

.search-button {
  margin-top: -16px;
  margin-left: 15px;
  height: 56px;
}

.custom-button {
  margin-left: 10px;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 16px 0 80px;
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: 0px 0px 0px 0px;
}

.mat-mdc-fab,
.mat-mdc-mini-fab {
  box-shadow: 0px 0px 0px 0px;
}

a {
  color: #000;
}

a:hover {
  transition: 0.3s;
  color: #424242;
}

.mat-mdc-row:hover {
  background-color: #f0f2f5;
}
